<a href="https://colab.research.google.com/github/TongSii/hds5210-2025/blob/main/week11/module30_dedup_examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
pop = pd.read_csv('est2018-pop-res.csv')

This dataset comes from the U.S. Census Bureauâ€™s 2018 Population Estimates program. It includes estimates for total population and adult (18+) population across different geographical levels in the United States.

In [ ]:
pop.head()

,SUMLEV,REGION,DIVISION,STATE,NAME,POPESTIMATE2018,POPEST18PLUS2018,PCNT_POPEST18PLUS
0,10,0,0,0,United States,327167434,253768092,77.6
1,40,3,6,1,Alabama,4887871,3798031,77.7
2,40,4,9,2,Alaska,737438,553622,75.1
3,40,4,8,4,Arizona,7171646,5528989,77.1
4,40,3,7,5,Arkansas,3013825,2310645,76.7

In [ ]:
len(pop['STATE'].unique()) #50 states, why

53

In [ ]:
pop['NAME'].unique()

array(['United States', 'Alabama', 'Alaska', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware',
       'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming',
       'Puerto Rico Commonwealth'], dtype=object)

In [ ]:
pop.shape

(53, 8)

# Unique Values

Let's find out what kind of data is in each column:
* SUMLEV
* REGION
* DIVISION

In [ ]:
pop['SUMLEV'].unique()

array([10, 40])

In [ ]:
pop['SUMLEV'].value_counts()

SUMLEV
40    52
10     1
Name: count, dtype: int64

In [ ]:
pop['DIVISION'].unique()

array(['0', '6', '9', '8', '7', '1', '5', '3', '4', '2', 'X'],
      dtype=object)

In [ ]:
pop['REGION'].unique()

array(['0', '3', '4', '1', '2', 'X'], dtype=object)

In [ ]:
pop['REGION'].value_counts()

REGION
3    17
4    13
2    12
1     9
0     1
X     1
Name: count, dtype: int64

In [ ]:
pop[['SUMLEV','REGION']].value_counts()

SUMLEV  REGION
40      3         17
        4         13
        2         12
        1          9
        X          1
10      0          1
dtype: int64

In [ ]:
pop.groupby(['SUMLEV','REGION']).count()

               DIVISION  STATE  NAME  POPESTIMATE2018  POPEST18PLUS2018  \
SUMLEV REGION
10     0              1      1     1                1                 1
40     1              9      9     9                9                 9
       2             12     12    12               12                12
       3             17     17    17               17                17
       4             13     13    13               13                13
       X              1      1     1                1                 1

               PCNT_POPEST18PLUS
SUMLEV REGION
10     0                       1
40     1                       9
       2                      12
       3                      17
       4                      13
       X                       1

# Value Counts on an already unique column?

We should get a series of counts where every count has a value of 1

In [ ]:
pop['NAME'].value_counts()

NAME
United States               1
Alabama                     1
Alaska                      1
Arizona                     1
Arkansas                    1
California                  1
Colorado                    1
Connecticut                 1
Delaware                    1
District of Columbia        1
Florida                     1
Georgia                     1
Hawaii                      1
Idaho                       1
Illinois                    1
Indiana                     1
Iowa                        1
Kansas                      1
Kentucky                    1
Louisiana                   1
Maine                       1
Maryland                    1
Massachusetts               1
Michigan                    1
Minnesota                   1
Mississippi                 1
Missouri                    1
Montana                     1
Nebraska                    1
Nevada                      1
New Hampshire               1
New Jersey                  1
New Mexico                  1
New York                    1
North Carolina              1
North Dakota                1
Ohio                        1
Oklahoma                    1
Oregon                      1
Pennsylvania                1
Rhode Island                1
South Carolina              1
South Dakota                1
Tennessee                   1
Texas                       1
Utah                        1
Vermont                     1
Virginia                    1
Washington                  1
West Virginia               1
Wisconsin                   1
Wyoming                     1
Puerto Rico Commonwealth    1
Name: count, dtype: int64

In [ ]:
(pop['NAME'].value_counts() == 1).all()

np.True_

In [ ]:
(pop['DIVISION'].value_counts() == 1).any()

np.True_

## Let's check...

What is the count of counts?

In [ ]:
pop['DIVISION'].value_counts()

DIVISION
5    9
8    8
4    7
1    6
3    5
9    5
6    4
7    4
2    3
0    1
X    1
Name: count, dtype: int64

In [ ]:
pop['NAME'].value_counts()

NAME
United States               1
Alabama                     1
Alaska                      1
Arizona                     1
Arkansas                    1
California                  1
Colorado                    1
Connecticut                 1
Delaware                    1
District of Columbia        1
Florida                     1
Georgia                     1
Hawaii                      1
Idaho                       1
Illinois                    1
Indiana                     1
Iowa                        1
Kansas                      1
Kentucky                    1
Louisiana                   1
Maine                       1
Maryland                    1
Massachusetts               1
Michigan                    1
Minnesota                   1
Mississippi                 1
Missouri                    1
Montana                     1
Nebraska                    1
Nevada                      1
New Hampshire               1
New Jersey                  1
New Mexico                  1
New York                    1
North Carolina              1
North Dakota                1
Ohio                        1
Oklahoma                    1
Oregon                      1
Pennsylvania                1
Rhode Island                1
South Carolina              1
South Dakota                1
Tennessee                   1
Texas                       1
Utah                        1
Vermont                     1
Virginia                    1
Washington                  1
West Virginia               1
Wisconsin                   1
Wyoming                     1
Puerto Rico Commonwealth    1
Name: count, dtype: int64

In [ ]:
pop['NAME'].value_counts().value_counts()

1    53
Name: NAME, dtype: int64

In [ ]:
pop.NAME.value_counts().value_counts() #special attention

count
1    53
Name: count, dtype: int64

In [ ]:
pop['DIVISION'].value_counts().value_counts()

5    2
4    2
1    2
9    1
8    1
7    1
6    1
3    1
Name: DIVISION, dtype: int64

# Unique based on multiple columns

In [ ]:
pop.groupby(['SUMLEV','REGION','DIVISION']).count()

                        STATE  NAME  POPESTIMATE2018  POPEST18PLUS2018  \
SUMLEV REGION DIVISION
10     0      0             1     1                1                 1
40     1      1             6     6                6                 6
              2             3     3                3                 3
       2      3             5     5                5                 5
              4             7     7                7                 7
       3      5             9     9                9                 9
              6             4     4                4                 4
              7             4     4                4                 4
       4      8             8     8                8                 8
              9             5     5                5                 5
       X      X             1     1                1                 1

                        PCNT_POPEST18PLUS
SUMLEV REGION DIVISION
10     0      0                         1
40     1      1                         6
              2                         3
       2      3                         5
              4                         7
       3      5                         9
              6                         4
              7                         4
       4      8                         8
              9                         5
       X      X                         1

In [ ]:
groupings = pop.groupby(['SUMLEV','REGION','DIVISION']).count()
len(groupings)

11

# Another data set

https://data.medicare.gov/resource/ukfj-tt6v.csv

Complications and deaths - provider data. This data set includes provider-level data for the hip/knee complication measure, the CMS Patient Safety Indicators, and 30-day death rates.

In [ ]:
data = pd.read_csv('complications.csv')

In [ ]:
data.shape

(1000, 18)

In [ ]:
data.head()

,provider_id,hospital_name,address,city,state,zip_code,county_name,phone_number,measure_id,measure_name,compared_to_national,denominator,score,lower_estimate,higher_estimate,footnote,measure_start_date,measure_end_date
0,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,COMP_HIP_KNEE,Rate of complications for hip/knee replacement...,No Different Than the National Rate,292,3.2,2.1,4.8,NaN,2015-04-01T00:00:00.000,2018-03-31T00:00:00.000
1,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_AMI,Death rate for heart attack patients,No Different Than the National Rate,688,13,11.0,15.5,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
2,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_CABG,Death rate for CABG surgery patients,No Different Than the National Rate,291,4.3,2.6,6.8,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
3,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_COPD,Death rate for COPD patients,No Different Than the National Rate,411,8.8,6.7,11.4,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000
4,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,MORT_30_HF,Death rate for heart failure patients,No Different Than the National Rate,869,12.7,10.7,15.0,NaN,2015-07-01T00:00:00.000,2018-06-30T00:00:00.000

In [ ]:
data['measure_id'].value_counts()

MORT_30_STK                  53
PSI_14_POSTOP_DEHIS          53
MORT_30_COPD                 53
PSI_12_POSTOP_PULMEMB_DVT    53
PSI_10_POST_KIDNEY           53
COMP_HIP_KNEE                53
MORT_30_CABG                 53
MORT_30_PN                   53
MORT_30_HF                   53
MORT_30_AMI                  53
PSI_11_POST_RESP             53
PSI_13_POST_SEPSIS           53
PSI_4_SURG_COMP              52
PSI_3_ULCER                  52
PSI_6_IAT_PTX                52
PSI_15_ACC_LAC               52
PSI_8_POST_HIP               52
PSI_9_POST_HEM               52
PSI_90_SAFETY                52
Name: measure_id, dtype: int64

In [ ]:
len(data['measure_id'].value_counts())

19

In [ ]:
data['provider_id'].value_counts()

provider_id
10001    19
10005    19
10006    19
10007    19
10008    19
10011    19
10012    19
10016    19
10018    19
10019    19
10021    19
10022    19
10023    19
10024    19
10029    19
10033    19
10034    19
10035    19
10036    19
10038    19
10039    19
10040    19
10044    19
10045    19
10046    19
10049    19
10051    19
10052    19
10055    19
10056    19
10058    19
10059    19
10061    19
10062    19
10065    19
10069    19
10073    19
10078    19
10079    19
10083    19
10085    19
10086    19
10087    19
10089    19
10090    19
10091    19
10092    19
10095    19
10097    19
10099    19
10100    19
10101    19
10102    12
Name: count, dtype: int64

In [ ]:
data['hospital_name'].value_counts().shape

(53,)

In [ ]:
data[['provider_id','measure_id']].value_counts()

provider_id  measure_id
10102        PSI_14_POSTOP_DEHIS    1
10035        MORT_30_PN             1
             PSI_9_POST_HEM         1
             PSI_90_SAFETY          1
             PSI_8_POST_HIP         1
                                   ..
10065        PSI_6_IAT_PTX          1
             PSI_4_SURG_COMP        1
             PSI_3_ULCER            1
             PSI_15_ACC_LAC         1
10001        COMP_HIP_KNEE          1
Length: 1000, dtype: int64

In [ ]:
(data[['provider_id','measure_id']].value_counts() == 1).all()

True

In [ ]:
data.groupby(['provider_id','city']).count()

,,hospital_name,address,state,zip_code,county_name,phone_number,measure_id,measure_name,compared_to_national,denominator,score,lower_estimate,higher_estimate,footnote,measure_start_date,measure_end_date
provider_id,city,,,,,,,,,,,,,,,,
10001,DOTHAN,19,19,19,19,19,19,19,19,19,19,19,19,19,0,19,19
10005,BOAZ,19,19,19,19,19,19,19,19,19,19,19,19,19,1,19,19
10006,FLORENCE,19,19,19,19,19,19,19,19,19,19,19,19,19,0,19,19
10007,OPP,19,19,19,19,19,19,19,19,19,19,19,19,19,3,19,19
10008,LUVERNE,19,19,19,19,19,19,19,19,19,19,19,19,19,12,19,19
10011,BIRMINGHAM,19,19,19,19,19,19,19,19,19,19,19,19,19,0,19,19
10012,FORT PAYNE,19,19,19,19,19,19,19,19,19,19,19,19,19,3,19,19
10016,ALABASTER,19,19,19,19,19,19,19,19,19,19,19,19,19,0,19,19
10018,BIRMINGHAM,19,19,19,19,19,19,19,19,19,19,19,19,19,10,19,19
10019,SHEFFIELD,19,19,19,19,19,19,19,19,19,19,19,19,19,5,19,19
10021,OZARK,19,19,19,19,19,19,19,19,19,19,19,19,19,5,19,19
10022,CENTRE,19,19,19,19,19,19,19,19,19,19,19,19,19,13,19,19
10023,MONTGOMERY,19,19,19,19,19,19,19,19,19,19,19,19,19,0,19,19
10024,MONTGOMERY,19,19,19,19,19,19,19,19,19,19,19,19,19,0,19,19
10029,OPELIKA,19,19,19,19,19,19,19,19,19,19,19,19,19,0,19,19
10033,BIRMINGHAM,19,19,19,19,19,19,19,19,19,19,19,19,19,0,19,19
10034,TALLASSEE,19,19,19,19,19,19,19,19,19,19,19,19,19,7,19,19
10035,CULLMAN,19,19,19,19,19,19,19,19,19,19,19,19,19,1,19,19
10036,ANDALUSIA,19,19,19,19,19,19,19,19,19,19,19,19,19,5,19,19
10038,ANNISTON,19,19,19,19,19,19,19,19,19,19,19,19,19,2,19,19
10039,HUNTSVILLE,19,19,19,19,19,19,19,19,19,19,19,19,19,0,19,19
10040,GADSDEN,19,19,19,19,19,19,19,19,19,19,19,19,19,0,19,19
10044,HAMILTON,19,19,19,19,19,19,19,19,19,19,19,19,19,12,19,19
10045,FAYETTE,19,19,19,19,19,19,19,19,19,19,19,19,19,9,19,19
10046,GADSDEN,19,19,19,19,19,19,19,19,19,19,19,19,19,0,19,19
10049,ENTERPRISE,19,19,19,19,19,19,19,19,19,19,19,19,19,3,19,19
10051,EUTAW,19,19,19,19,19,19,19,19,19,19,19,19,19,15,19,19
10052,DADEVILLE,19,19,19,19,19,19,19,19,19,19,19,19,19,13,19,19
10055,DOTHAN,19,19,19,19,19,19,19,19,19,19,19,19,19,0,19,19
10056,BIRMINGHAM,19,19,19,19,19,19,19,19,19,19,19,19,19,0,19,19
10058,CENTREVILLE,19,19,19,19,19,19,19,19,19,19,19,19,19,13,19,19
10059,MOULTON,19,19,19,19,19,19,19,19,19,19,19,19,19,12,19,19
10061,SCOTTSBORO,19,19,19,19,19,19,19,19,19,19,19,19,19,3,19,19
10062,GENEVA,19,19,19,19,19,19,19,19,19,19,19,19,19,5,19,19
10065,ALEXANDER CITY,19,19,19,19,19,19,19,19,19,19,19,19,19,2,19,19
10069,EUFAULA,19,19,19,19,19,19,19,19,19,19,19,19,19,7,19,19
10073,ASHLAND,19,19,19,19,19,19,19,19,19,19,19,19,19,12,19,19
10078,ANNISTON,19,19,19,19,19,19,19,19,19,19,19,19,19,0,19,19
10079,ATHENS,19,19,19,19,19,19,19,19,19,19,19,19,19,2,19,19
10083,FOLEY,19,19,19,19,19,19,19,19,19,19,19,19,19,1,19,19
10085,DECATUR,19,19,19,19,19,19,19,19,19,19,19,19,19,4,19,19
10086,WINFIELD,19,19,19,19,19,19,19,19,19,19,19,19,19,7,19,19
10087,MOBILE,19,19,19,19,19,19,19,19,19,19,19,19,19,4,19,19
10089,JASPER,19,19,19,19,19,19,19,19,19,19,19,19,19,3,19,19
10090,MOBILE,19,19,19,19,19,19,19,19,19,19,19,19,19,0,19,19
10091,GROVE HILL,19,19,19,19,19,19,19,19,19,19,19,19,19,12,19,19
10092,TUSCALOOSA,19,19,19,19,19,19,19,19,19,19,19,19,19,3,19,19
10095,GREENSBORO,19,19,19,19,19,19,19,19,19,19,19,19,19,13,19,19
10097,WETUMPKA,19,19,19,19,19,19,19,19,19,19,19,19,19,13,19,19
10099,BREWTON,19,19,19,19,19,19,19,19,19,19,19,19,19,4,19,19
10100,FAIRHOPE,19,19,19,19,19,19,19,19,19,19,19,19,19,0,19,19
10101,TALLADEGA,19,19,19,19,19,19,19,19,19,19,19,19,19,7,19,19
10102,CAMDEN,12,12,12,12,12,12,12,12,12,12,12,12,12,11,12,12

In [ ]:
data.groupby(['provider_id','city']).count().shape

(53, 16)